{erl_opts, [warn_unused_vars,warn_shadow_vars,warn_unused_import,warn_obsolete_guard,debug_info]}.
{deps, [

]}.

{shell, [
    {config, "config/sys.config"},
    {vm_args, "./config/vm.args"},
    {apps, [paxos]}
]}.

{cover_enabled, true}.

{profiles, [{test, [{deps, [meck]}]}]}.


{alias, [{test, [{ct, "--sname ct --cover true --sys_config=config/sys.config --readable true"},
   % {proper, "--cover=true -n 250 --sys_config=config/sys.config --cover"},
    cover,
    xref,
    dialyzer,
    lint]}]}.